altair~=5.0.1
certifi~=2023.5.7
Flask~=2.3.2
Fortuna~=5.1.2
gunicorn
Jinja2
joblib~=1.2.0
jupyter
numpy
MonsterLab~=1.2.7
pandas~=2.0.2
pymongo[srv]~=4.3.3
python-dotenv~=1.0.0
scikit-learn~=1.2.2
scipy
imbalanced-learn~=0.8.1
